<div>
  <% book.post_comment.each do |post_comment| %>
    <table class="table">
      <tr>
        <td>
          <%= link_to(post_comment.user) do %>
            <%= image_tag post_comment.user.get_profile_image, size: '50x50' %><br>
            <%= post_comment.user.name %>
          <% end %>
        </td>
        <td>
          <%= post_comment.comment %>
        </td>
        <td>
          <% if post_comment.user == current_user %>
            <%= link_to "destroy", book_post_comment_path(post_comment.book, post_comment), method: :delete, class: "btn btn-sm btn-danger pull-right", remote: true %>
          <% end %>
        </td>
      </tr>
    </table>
  <% end %>
</div>
