<div class="chat-room">
  <h1>メッセージ</h1>
    <% @RoomUsers.each do |r| %> 
    <div class="user-name">
      <strong>
        <a class="rooms-user-link" href="/users/<%= r.user.id %>">
          <%= r.user.name %>さん
        </a>
      </strong>
    </div>
    <% end %>
 
 <div class="chats">
   <div class="chat">
     <% if @messages.present? %>
       <% @messages.each do |m| %>
         <div class="chat-box">
           <div class="chat-text">
             <%= m.message %>
           </div>
         </div>
       <% end %>
       <%else%>
         <p>メッセージはまだありません</p>
     <% end %>
   </div>

   <div class="posts">
     <%= form_with model: @message, data: {remote: true} do |f| %>
       <%= f.text_field :message %>
       <%= f.hidden_field :room_id, value: @room.id %>
       <%= f.submit "送信する" %>
     <% end %>
   </div>

 </div>
</div>
